<% include ./partials/header %>
<h1 class="ui blue header">Login as Admin</h1>

<form  action="/Adminlogin" method="POST">
  <input type="text" name="username" placeholder="adminname">
  <input type="password" name="password" placeholder="password">
  <button type="submit" name="button">login</button>
</form>



<% include ./partials/footer %>
