<% include ./partials/header %>

sign up as Admin 

<form   action="/Adminregister" method="post">
  <input type="text" name="username" placeholder="adminname">
  <input type="password" name="password" placeholder="password">
  <button type="submit" >submit</button>
</form>



<% include ./partials/footer %>
