<% include ./partials/header %>

<h1 class="ui blue header">Sign up as Admin </h1>

<form   action="/Adminregister" method="post">
  <input type="text" name="username" placeholder="adminname">
  <input type="password" name="password" placeholder="password">
  <button type="submit" >submit</button>
</form>



<% include ./partials/footer %>
